@import url("https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.quiz-container {
  width: 600px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  border-radius: 10px;
}

.quiz-header h2 {
  text-align: center;
  padding: 50px;
}

.quiz-header {
  padding: 50px;
}
.quiz-header ul {
  list-style-type: none;
  padding: 0;
}

.quiz-header ul li {
  font-size: 1.2rem;
  margin: 1rem 0;
}
.quiz-header ul li label {
  cursor: pointer;
}

.quiz-container button {
  color: #fff;
  background-color: rebeccapurple;
  border: none;
  padding: 1.3rem;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  display: block;
  border-radius: 0 0 10px 10px;
}
